<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title>naraba^2 今日行っていい？</title>
    <style>
    body { font-size:12pt; color:#006666; }
    h1 { font-size:18pt; background-color:#AAFFFF; }
    pre { background-color:#EEEEEE; }
    </style>
</head>
 
 
<body>
<script type="text/javascript">
function show_message(text){
	alert(text);

}
</script>

  <H2>
     今、現在のnaraba^2 は、
  </H2>
  
  <!--
    <input type="button" value="@content1@" 
        style="background-color:@content3@;color:#FFFFFF;font-size:50pt" 
        onClick="show_message('@content4@')">
-->         
<!--   
    <img src="images/image_open.jpg" width="80%" alt="直接表示NG">
-->
        
    <Div Align="center">    
    <img src="images/<%=content2 %>" width="50%" alt="<%=content1 %>">
    </Div>
      
<!--
content1= <%=content1 %>
content2= <%=content2 %>
content3= <%=content3 %>
content4= <%=content4 %>
-->



<Div Align="right">
produced by 
<img src="images/CodeForNara_logo.png" alt="CODE for NARA">
<img src="images/encounter_logo.png" alt="えんカウンター">
</Div>

</body>
 
</html>